/* code that is here, until the first @media block, will apply to any screen size */
#somethingorother {
  width: 800px ;
}

@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  #somethingorother {
    width: 120px ;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  #somethingorother {
    width: 320px ;
  }
}
@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #somethingorother {
    width: 480px ;
  }
}

/* code that is here will apply to any screen size */
body {
	font-family: Helvetica,Arial,sans-serif;
	background: #FFFFFF url(src/overlay.png) repeat!important;
}

#menu
{
}
	
#menu ul
{
	text-align: center;
}
	
#menu li
{
	display: inline-block;
}
	
#menu li a, #menu li span
{
	display: inline-block;
	margin-left: 0.50em;
	padding: 1em 1.5em;
	letter-spacing: 0.20em;
	text-decoration: none;
	font-size: 0.90em;
	font-weight: 600;
	text-transform: uppercase;
	outline: 0;
	color: #3C3C3C;
}
	
#menu li:hover a, #menu li.active a, #menu li.active span
{
	color: #371660;
	opacity: 0.7;
}
	
#menu .current_page_item a
{
	border: 1px solid #3C3C3C;
	border-radius: 4px;
}
	
#title {
	background-color: #371660;
	color: white;
}

#li_projects {
	padding-left: 2em;
	text-indent: -2em;
}

.resize {
 	width: 250px;
	height: 250px;
	border-radius: 150px;
	display: inline-block;
	line-height: 60px;
}

#header1 {
  padding-top: 2%;
  padding-left: 100px;
  padding-right: 100px;
}

#home {
	margin-right: auto;
	margin-left: auto;
	padding-top: 50px;
	padding-bottom: 100px;
}

#intro {
	text-align: center;
}

#welcome
{
	overflow: hidden;
	padding: 8em 20px 8em 20px;
	text-align: center;
	color: rgba(255,255,255,0.4);

}
	
#welcome .content
{
	padding: 0em 8em;
}
	
#welcome .title h2
{
	color: rgba(255,255,255,1);
}
	
#welcome a,
#welcome strong p
{
	color: rgba(255,255,255,0.6);
}

#wrapper2
{
	background: #371660;
}

#personal_intro {
	margin-top: 40px;
}

.card-image-padding {
        padding-top: 16px;
}

.featured-project {
	background-color: #fff;
}

#android {

}
#portfolio {
		text-align: center;

}

#portfolioID {
	width: 100%;
}

.project_title {
	margin-bottom: 33px;
}

.project_description {
		margin-top: 30px;
		float: left;
}

#contactID {
    text-align: center;
	width: 100%;
	margin-bottom: 0.5cm;
}


.container {
	margin-top: 1cm;
}
.cardss {
  padding-left: 100px;
  padding-right: 100px;
 padding: 8em 20px 8em 20px;


}
footer{
	background: #1B1B1B url(src/overlay.png) repeat !important;
}

#copyright
{
	overflow: hidden;
	padding: 1em 0em;
	border-top: 1px solid rgba(255,255,255,0.08);
}
	
#copyright p
{
	text-align: center;
	color: rgba(255,255,255,0.2);
}
	
#copyright a
{
	text-decoration: none;
	color: rgba(255,255,255,0.4);
}
#copyright span
{
	color: hsl(0, 80%, 50%);
}

ul.contact
{
	margin: 0;
	padding: 1em 0em 0em 0em;
	list-style: none;
}
	
ul.contact li
{
	display: inline-block;
	padding: 0em 0.20em;
	font-size: 1.7em;
}
	
ul.contact li span
{
	display: none;
	margin: 0;
	padding: 0;
}
	
ul.contact li a
{
	color: rgba(255,255,255,1);
}
	
ul.contact li a:before
{
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background:#371660;
	border-radius: 30px;
	text-align: center;
}
.contact li:hover a, .contact li.active a, .contact li.active span
{
	opacity: 0.7;
}

p {
	font-size: medium;
}
